.input-container {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0 auto;
  width: 30%;

  label {
    font-size: 20px;
  }

  input {
    border: 1px solid #333;
    border-radius: 4px;
    padding: 8px 16px;
    flex: 1;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #333;
    }

    &:disabled {
      cursor: default;
      border: 1px solid #c4c4c4;
      color: #eee;
      background-color: rgb(100, 131, 223);
    }
  }
}
